* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.title {
  color: #3a86c5;
  margin-top: 40px;
}

.center {
  text-align: center;
}

.btn {
  margin: 5px;
}

.btn:hover {
  box-shadow: 5px 5px 10px 0px rgb(128, 128, 128);
}